fall_models/Prototype/venv/
Datasets/
Papers/
**/__pycache__/
**/2026*
tests/
outputs/
eval_outputs/
copy_zips.py
audit_upfall.py
get_one_npz.py
models/prompts/
fall_models/Prototype/models/MotionBert/**
fall_models/Prototype/runs/**
fall_models/Prototype/models/HAR-WISDM-Dataset/
fall_models/Prototype/analysis/
fall_models/Prototype/analysis_outputs/
fall_models/Prototype/evaluation/eval_2sagcn.py
fall_models/Prototype/evaluation/eval_models_two_stream.py
fall_models/Prototype/figures/
fall_models/Prototype/models/2s-AGCN/
fall_models/Prototype/models/har_cnn_lstm/
fall_models/Prototype/models/heatmaps/
fall_models/Prototype/models/prompts/
fall_models/Prototype/models/stgcn/two_stream_stgcn.py
fall_models/Prototype/models/tcn/best_05_02/
fall_models/Prototype/models/videomae/
fall_models/Prototype/pose_models/AlphaPose/
fall_models/Prototype/pose_models/ViTPose/
fall_models/Prototype/dataset_helpers/compare_npz.py
fall_models/Prototype/test.py
fall_models/Prototype/training/train_har_rescnn_lstm.py
fall_models/Prototype/training/train_models_two_stream.py
web_app/venv/
web_app/models/
fall_models/Prototype/models/HAR-WISDM-Dataset/
*.onnx
*.cache
